@font-face {
	font-family: 'QTMilitary';
	src: url('../img/QTMilitary.otf') format('opentype');
}
html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}
body {
	background-image: url('../img/splash.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	font-family: Arial, sans-serif;
	display:flex;
	flex-direction: column;
	height: 100vh;
	justify-content: space-between;
	align-items: center;
}
.top, #infoBar {
	flex: 1;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
#infoBar{
  background: linear-gradient(to bottom, #909090, #707070);
  padding:10px;
  border-bottom: #404040 solid 2px;
}
.top img {
	height: 50vh;
}
.top img {
	height: 45vh;
}
.bottom {
	flex: 1;
	display:flex;
	height: 50vh;
	width: 100%;
	padding: 10px;
	justify-content: center;
	align-items: center;
	text-align: center;
	box-sizing: border-box;
	font-family: 'QTMilitary', sans-serif;
}
#app{	
    width: 100%;
    height: 100%;
}
button {
	background-color: gray;
	border: 2px solid blue;
	color: white;
	font-size: 28px;
	padding: 10px 10px;
	cursor: pointer;
	font-family: 'QTMilitary', sans-serif;
    text-shadow: 1px 1px 1px black;
}
#mapContainer{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    border: 1px solid blue;
    display:flex;
    justify-content: center;
    align-items: center;
}
#mapWraper{
    display: flex;
    flex-wrap: nowrap;
    width: auto;
    height: 100%;
}
#mapImage {
    width: 100%;
    height: auto;
    touch-action: none;
}